@model IEnumerable<MvcCadastroDeConsumo.Models.Produto>

@{
    ViewBag.Title = "IndexProduto";
}

<h2>Relação de Produtos</h2>

@if (TempData["mensagemErro"] != null)
{
    <hr />
    <P class="field-error" style="color: red">
        @TempData["mensagemErro"]
    </P>
    <script type="text/javascript" lang="pt-br">
            window.onload = function () {
                alert("@TempData["mensagemErro"]");
            };
    </script>
}

<p>
    @Html.ActionLink("Incluir", "CreateProduto")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstoqueInicial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstoqueAtual)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstoqueInicial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstoqueAtual)
        </td>
        <td>
            @Html.ActionLink("Alterar", "EditProduto", new { id=item.Id }) |
            @Html.ActionLink("Consultar", "DetailsProduto", new { id=item.Id }) |
            @Html.ActionLink("Excluir", "DeleteProduto", new { id=item.Id })
        </td>
    </tr>
}

</table>
<p>
    @Html.ActionLink("Retornar para Tela Inicial", "Index", "Home")
</p>

