@model MvcCadastroDeConsumo.Models.Consumo

@{
    ViewBag.Title = "DetailsConsumoCreateItens";
}


<h2>Inclusão Itens Consumo</h2>

<div>
    <h4>Consumo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

    </dl>
</div>

<div>
    <hr />
    <h4>Itens do Consumo</h4>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItensConsumo.FirstOrDefault().Prod.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItensConsumo.FirstOrDefault().Quantidade)
            </th>
            <th></th>
        </tr>
        <tr>
        </tr>
        <p>
            @Html.ActionLink("Incluir Item Consumo", "CreateItemConsumo", new { idConsumo = Model.Id })
        </p>
        @{
            if (Model.ItensConsumo.Count > 0)
            {
                foreach (var item in Model.ItensConsumo)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Prod.Descricao)</td>
                        <td>@Html.DisplayFor(modelItem => item.Quantidade)</td>
                        <td>
                            @Html.ActionLink("Alterar", "EditItemConsumo", new { idConsumo = Model.Id, idProduto = item.Prod.Id }) |
                            @Html.ActionLink("Excluir", "DeleteItemConsumo", new { idConsumo = Model.Id, idProduto = item.Prod.Id })
                        </td>
                    </tr>
                }
            }
            else
            {
                <p style="color:red">Inclua um item!</p>
            }
        }
    </table>
</div>

<p>
    @Html.ActionLink("Alterar", "EditConsumo", new { id = Model.Id }) |
    @Html.ActionLink("Retornar para Relação de Consumos", "IndexConsumo") |
    @Html.ActionLink("Retornar para Tela Inicial", "Index", "Home")
</p>
