@model IEnumerable<MvcCadastroDeConsumo.Models.Consumo>

@{
    ViewBag.Title = "IndexConsumo";
}

<h2>Relação de Consumo</h2>

<p>
    @Html.ActionLink("Incluir", "CreateConsumo")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.ActionLink("Alterar", "EditConsumo", new { id = item.Id }) |
            @Html.ActionLink("Consultar", "DetailsConsumo", new { id = item.Id }) |
            @Html.ActionLink("Excluir", "DeleteConsumo", new { id = item.Id })
        </td>
    </tr>
}

</table>
<p>
    @Html.ActionLink("Retornar para Tela Inicial", "Index", "Home")
</p>